page-manager {
  .logout{
    position: absolute;
    bottom: 55px;
    left: 20px;
    right: 20px;
    border-top: 0.5px solid $light;
    border-bottom: 0.5px solid $light;
    box-shadow: 1px 1px 10px $light;
    text-align: center;
    background: $danger;
    color: #fff;
    p{
      text-align: center;
      margin: 10px 0;
    }
  }
}
