pricer {
  .btn-group{
    font-size: 0;
    button{
      font-size: 1.4rem;
      height: 2rem;
      width: 2rem;
      margin: 0;
      padding: 0;
      border-radius: 3px;
      background-color: $danger;
      border: 0.3px solid $danger;
      color: #fff;
      &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
      }
    }
    input{
      width: 2rem;
      height: 2rem;
      text-align: center;
      margin: 0;
      font-size: 1.4rem;
      border: 0.5px solid $grey;
      border-left: 0;
      border-right: 0;
    }
  }
}
