a{
  text-decoration: none;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

$primary:    #387ef5;
$secondary:  #32db64;
$danger:     #f53d3d;
$light:      #f4f4f4;
$light-grey: #ccc;
$grey:       #999;
$dark:       #222;

$color-1: #ffaf51;
$color-2: #ff8080;
$color-3: #688fd0;
$color-4: #c49741;
$color-5: #875e78;
$color-6: #94d15e;

